<footer>
    <div class="copyright">
        © 2023 Janis Hülsebusch
    </div>
    <div class="links">
        <a routerLink="privacy">Datenschutz</a> |
        <a routerLink="conditions">AGB</a> |
        <a routerLink="imprint">Impressum</a>
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia">
            Kontakt
            <div class="socialmedia-links">
                <a href="mailto:janis@huelsebusch.org">
                    <img src="./../../assets/img/icon/email-48.png" alt="">
                </a>
                <a href="https://wa.me/491734359626" target="_blank">
                    <img src="./../../assets/img/icon/whatsapp-48.png" alt="">
                </a>
            </div>
        </div>
        <div class="socialmedia">
            Vernetze dich
            <div class="socialmedia-links">
                <a href="https://www.facebook.com/janis.hulsebusch" target="_blank">
                    <img src="./../../assets/img/icon/facebook-48.png" alt="">
                </a>
                <a href="https://www.xing.com/profile/Janis_Huelsebusch/cv" target="_blank">
                    <img src="./../../assets/img/icon/xing-48.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/janis-huelsebusch/" target="_blank">
                    <img src="./../../assets/img/icon/linkedin-48.png" alt="">
                </a>
            </div>

        </div>

    </div>
</footer>