<section class="aboutSec" id="about">
    <div class="card">
        <img src="./../../assets/img/profilePic.png" class="cardImg">
        <h2>Meine Story</h2>
        <h2 class="name">Janis Hülsebusch</h2>
        <p class="profession">Chemist & Frontend Developer</p>
        <p>Ich stamme aus der Region um Oldenburg in Niedersachsen und habe mich nach meinem Abitur für ein Studium der Chemie entschieden, welches ich sowohl im Bachelor- als auch im anschließenden Master erfolgreich abschloß. Schon immer war ich von den
            Naturwissenschaften fasziniert, doch auch während meines Studiums konnte ich wertvolle Einblicke in rechtliche und wirtschaftliche Themen gewinnen. <br>
            <br> Nach dem Abschluss meines Studiums war ich im Qualitätsmanagement eines Import- und Großhandelsunternehmens tätig. Hier war ich verantwortlich für die Überprüfung der Verkehrsfähigkeit verschiedenster Haushalts-, Garten-, Spiel- und anderer
            Bedarfsartikel, einschließlich der Durchführung entsprechender Produkttests. Durch diese Tätigkeit konnte ich langjährige Geschäftsbeziehungen zu Prüfinstituten im In- und Ausland aufbauen, die bis heute Bestand haben. <br>
            <br> Durch zusätzliche Kurse und Seminare im Bereich Produktsicherheit und Betriebswirtschaft konnte ich meine Kompetenzen weiter ausbauen und halte mich auch heute noch stets auf dem neuesten Stand. Aktuell bin ich selbst im Amazon FBA-Geschäft
            tätig und biete meine Expertise und meine Unterstützung zusammen mit meinem Team im Compliance-Prozess an.
        </p>
    </div>
</section>