$brp1: 1750px;
$brp2: 1400px;
$brp3: 1200px;
.aboutSec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--ppage);
    padding-top: 200px;
    padding-bottom: 100px;
    box-sizing: border-box;
    .card {
        width: 100%;
        background-color: var(--white);
        color: var(--darkgreen);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 50px 50px 500px;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
        .cardImg {
            object-fit: contain;
            max-height: 400px;
            // box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid var(--darkgreen);
            position: absolute;
            left: 50px;
            // bottom: 50px;
            top: 90px;
        }
        .name {
            margin: 0;
        }
        .profession {
            margin: 0;
        }
    }
}

@media (max-width: $brp3) {
    .card {
        padding: 50px !important;
        .cardImg {
            // display: none;
            position: relative !important;
            left: unset !important;
            top: unset !important;
        }
    }
}