$brp1: 1750px;
$brp2: 1400px;
$brp3: 1200px;
.serviceSec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--ppage);
    padding-top: var(--ptop-card);
    padding-bottom: var(--pbottom-card);
    box-sizing: border-box;
    .card {
        width: 100%;
        background-color: var(--white);
        color: var(--darkgreen);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--pinner-card);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
        .cardImg {
            object-fit: contain;
            width: var(--w-card-img);
            box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
            position: absolute;
            right: 50px;
            top: -100px;
        }
    }
    .testitems {
        width: 100%;
        height: 45vh;
        display: flex;
        div {
            height: 100%;
            flex: 1;
            overflow: hidden;
            cursor: pointer;
            border-radius: 2px;
            transition: all .5s;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
            &:hover {
                flex: 8;
                opacity: 1;
            }
            .servOverlay {
                background-color: rgba(59, 56, 55, 0.5);
                &:hover {
                    background-color: rgba(59, 56, 55, 0);
                    span {
                        transform: rotate(0);
                        font-size: var(--h2);
                    }
                }
                span {
                    font-size: 24px;
                    min-width: 14em;
                    padding: .5em;
                    text-align: center;
                    transform: rotate(-90deg);
                    transition: all .5s;
                    text-transform: uppercase;
                    color: var(--white);
                    letter-spacing: .1em;
                    text-shadow: -1px 0 var(--darkgreen), 0 1px var(--darkgreen), 1px 0 var(--darkgreen), 0 -1px var(--darkgreen);
                }
            }
        }
    }
    .testitemsMobile {
        width: 100%;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        .testCardMobile {
            width: 50%;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            // flex-wrap: wrap;
            &:nth-child(3) {
                width: 100%;
            }
            div {
                width: 100%;
                height: 10vh;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .servOverlay {
                    background-color: rgba(59, 56, 55, 0.5);
                    span {
                        font-size: var(--h3);
                        min-width: 14em;
                        padding: .5em;
                        text-align: center;
                        transition: all .5s;
                        text-transform: uppercase;
                        color: var(--white);
                        letter-spacing: .1em;
                        text-shadow: -1px 0 var(--darkgreen), 0 1px var(--darkgreen), 1px 0 var(--darkgreen), 0 -1px var(--darkgreen);
                    }
                }
            }
        }
    }
    .descrCard {
        width: 100%;
        background-color: var(--white);
        color: var(--darkgreen);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 50px 50px 500px;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
        .cardImgDescr {
            object-fit: contain;
            width: clamp(260px, 30%, 400px);
            box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 50px;
            // bottom: 50px;
            top: 90px;
        }
        .btn {
            width: fit-content;
            align-self: flex-start;
        }
    }
}

@media (max-width: $brp3) {
    .descrCard {
        padding: var(--pinner-card) !important;
        .cardImgDescr {
            display: none;
            position: relative !important;
            left: unset !important;
            top: unset !important;
        }
    }
    .testitems {
        display: none !important;
    }
    .testitemsMobile {
        display: flex !important;
    }
}