<section class="contactSec" id="contact">
    <div class="card">
        <img src="./../../assets/img/contactImg.jpg" class="cardImg">
        <h2>Kontakt</h2>
        <p>
            Wir freuen uns darauf, von dir zu hören. Nutze gerne unser Kontaktformular, um uns Fragen, Anregungen oder Feedback zu senden. <br> Falls du Fragen zu Zertifikaten oder Produktprüfungen hast, teile uns möglichst viele Details zu deinem Produkt
            mit, wie zum Beispiel eine vollständige Materialaufstellung oder auch ein Produktbild. Diese Informationen helfen uns dabei, deine Anfrage schnell und gezielt bearbeiten zu können.
            <br>
            <br> Wir stehen dir jederzeit zur Verfügung, um deine Anfragen zu beantworten und dich bei Problemen oder Anliegen zu unterstützen. <br> Kontaktiere uns daher gerne über das Kontaktformular oder auch per E-Mail oder Whatsapp. <br>
            <br> Wir freuen uns auf Ihre Nachricht!
        </p>
    </div>
</section>