<section class="placeholder"></section>
<section class="contactSec" id="contact">
    <div class="card" data-aos="fade-up">
        <img src="./../../assets/img/contactImg.jpg" class="cardImg" data-aos="zoom-in">
        <h2>Kontakt</h2>
        <p>
            Wir freuen uns darauf, von dir zu hören. Nutze gerne unser Kontaktformular, um uns Fragen, Anregungen oder Feedback zu senden. <br> Falls du Fragen zu Zertifikaten oder Produktprüfungen hast, teile uns möglichst viele Details zu deinem Produkt
            mit, wie zum Beispiel eine vollständige Materialaufstellung oder auch ein Produktbild. Diese Informationen helfen uns dabei, deine Anfrage schnell und gezielt bearbeiten zu können.
            <br>
            <br> Wir stehen dir jederzeit zur Verfügung, um deine Anfragen zu beantworten und dich bei Problemen oder Anliegen zu unterstützen. <br> Kontaktiere uns daher gerne über das Kontaktformular oder auch per E-Mail oder Whatsapp. <br>
            <br> Wir freuen uns auf Ihre Nachricht!
        </p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(formContact)" #formContact="ngForm">
            <div class="overlayAchor">
                <div class="ipt">
                    <input formControlName="name" type="text" placeholder="Name" id="name">
                    <ng-container *ngIf="contactForm.controls['name'] as name">
                        <ng-container *ngIf="name.invalid && isSubmitted">
                            <p class="error" *ngIf="name.errors?.['required']">Your name is required</p>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="ipt">
                    <input formControlName="email" type="text" placeholder="Email*" id="email">
                    <ng-container *ngIf="contactForm.controls['email'] as email">
                        <ng-container *ngIf="email.invalid && isSubmitted">
                            <p class="error" *ngIf="email.errors?.['required'] || email.errors?.['email']">Your email is required</p>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="ipt">
                    <input formControlName="product" type="text" placeholder="Produkt" id="product">
                </div>
                <div class="ipt">
                    <textarea formControlName="message" name="" id="" cols="30" rows="10" placeholder="Nachricht*" id="message"></textarea>
                    <ng-container *ngIf="contactForm.controls['message'] as message">
                        <ng-container *ngIf="message.invalid && isSubmitted">
                            <p class="error" *ngIf="message.errors?.['required']">Your message is empty</p>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="overlay" *ngIf="emailSent">
                    <p data-aos="fade-left" data-aos-duration="1000">Email was sent successfully!</p>
                    <p data-aos="fade-left" data-aos-duration="1000">I will send you an answer as soon as possible.</p>
                </div>
            </div>
            <button [disabled]="emailSent" class="btn" type="submit">Send message</button>
        </form>
    </div>
</section>