<section class="labSec" id="labs">
    <div class="card" data-aos="fade-up">
        <img src="./../../assets/img/global_big.jpg" class="cardImg" data-aos="zoom-in">
        <h2>Partnerlabore</h2>
        <p>Dank unserem weitreichendem Netzwerk und umfassenden Kontakten von über 20 zuverlässigen und kompetenten Laborpartnern rund um den Globus sind wir in der Lage, eine für dich maßgeschneiderte Lösung anzubieten. Unser Portfolio umfasst sowohl Global
            Player als auch regionale Prüfinstitute, mit besonderem Fokus auf Fernost, sodass wir dir ein breites Spektrum an unterschiedlichen Möglichkeiten und Dienstleistungen anbieten können. <br> <br> Durch umfassende Zusammenarbeit mit unseren Partnern
            sind wir in der Lage, dir stets die bestmögliche Qualität zu einem attraktiven Preis anzubieten. Denn durch die Vielfalt an Optionen und die Größe unseres Netzwerks sind wir in der Lage, die Preise zu optimieren und dir dadurch ein exzellentes
            Preis-Leistungs-Verhältnis zu garantieren. <br> <br> Unser Fokus liegt dabei immer auf deiner Zufriedenheit. Durch eine individuelle Beratung und Betreuung stellen wir sicher, dass du genau die Dienstleistungen und Lösungen erhälst, die du
            benötigst.
        </p>
    </div>
</section>