<section class="placeholder"></section>
<section class="conditionsSec" id="conditions">
    <div class="card">
        <img src="./../../assets/img/condition.jpg" class="cardImg">
        <h2>Allgemeine Geschäftsbedingungen</h2>

        <h3>§ 1 Geltungsbereich</h3>
        <p>(1) Diese Allgemeinen Geschäftsbedingungen (im Folgenden: AGB) gelten für alle geschlossenen Verträge zur Durchführung von Produkttests (Consumer Product Testing) zwischen <br> Herrn Janis Hülsebusch, Rathausstraße 2, 26188 Edewecht,<br>(nachfolgend
            als Auftragnehmer bezeichnet) <br>und Ihnen als Auftraggeber <br>(nachfolgend als Auftraggeber benannt). <br>Die AGB gelten nur, wenn der Auftraggeber Unternehmer (§ 14 BGB), eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches
            Sondervermögen ist.
        </p>
        <p>(2) Alle zwischen dem Auftraggeber und dem Auftragnehmer im Zusammenhang mit dem Vertrag zur Durchführung von Produkttests durch geeignete Prüfinstitute (nachfolgend als Vertrag) geschlossenen Vereinbarungen ergeben sich aus diesen allgemeinen
            Bedingungen.
        </p>
        <p>(3) Maßgebend ist die jeweils bei Abschluss des Vertrags gültige Fassung der AGB.
        </p>
        <p>(4) Abweichende Bedingungen des Auftraggebers werden nicht akzeptiert. Dies gilt auch, wenn der Einbeziehung nicht ausdrücklich widersprochen wird.</p>

        <h3>§ 2 Vertragsgegenstand</h3>
        <p>(1) Gegenstand des Vertrages ist einerseits der Bereich der Produktprüfungen, um festzustellen, ob die gesetzlichen Anforderungen, z.B. der REACH-Verordnung (Registrierung, Evaluierung und Autorisierung von Chemikalien) erfüllt sind oder andererseits
            die Vornahme von Inspektionen/Sichtprüfungen. Hierfür erhält der Auftraggeber vom Auftragnehmer den Prüfbericht des beauftragten Labors oder Prüfinstitutes bzw. des Inspekteurs.
        </p>
        <p>(2) Bei den Produktprüfungen vermittelt der Auftragnehmer Ihre Produkte an geeignete und ausgewählte kompetente Prüfinstitute, um die Qualitätsstandards und Anforderungen der Produkte sicherzustellen. Die Leistung umfasst hierbei u.a. die Überprüfung
            von Produkten mit Lebensmittelkontakt, Spielwaren und E & E-Produkten in dafür eigens ausgewählten Laboren.</p>
        <p>(3) Bei den Sichtprüfungen nimmt ein ausgebildeter Inspekteur eine Sichtprüfung des zu untersuchenden Produkts beim Hersteller oder am Ort der Lagerung vor. Hierbei wird vor allem eine u.a. Inspektion auf Kratzer, Verschmutzungen und sichtbaren
            Fehlern vorgenommen.
        </p>
        <p>(4) Der Auftragnehmer schuldet keinen Erfolg im Sinne der Erzielung eines positiven Ergebnisses des Prüfberichts. Er vermittelt lediglich den Auftraggeber an geeignete Prüflabore. Die Prüfung in diesen Laboren birgt stets das Risiko eines negativen
            Ergebnisses des Prüfberichts.
        </p>
        <h3>§ 3 Vertragsschluss</h3>
        <p>(1) Die Darstellung unserer Dienstleistungen auf unserer Internetseite stellt kein rechtlich bindendes Angebot zum Abschluss eines Vertrages dar.
        </p>
        <p>(2) Der Auftraggeber nimmt mittels des Kontaktformulars, per E-Mail, Facebook-Messenger oder per Whatsapp Kontakt zum Auftragnehmer auf und teilt ihm die wesentlichen Informationen zu dem zu prüfenden Produkt mit.
        </p>
        <p>(3) Daraufhin kann der Auftragnehmer dem Auftraggeber ein rechtlich verbindliches Angebot auf Basis der ihm mitgeteilten Informationen unterbreiten.
        </p>
        <p>(4) Die Annahme des Angebots erfolgt durch Erklärung in Textform gegenüber dem Auftragnehmer.
        </p>
        <p>(5) Der Vertragstext wird unter Wahrung des Datenschutzes gespeichert. </p>
        <p>(6) Der Vertragsschluss erfolgt ausschließlich in deutscher Sprache.</p>

        <h3>§ 4 Vergütung, Zahlungsmodalitäten</h3>
        <p>(1) Die Höhe der Vergütung ergibt sich aus dem jeweiligen Angebot.
        </p>
        <p>(2) Die vereinbarte Vergütung wird dem Auftraggeber vom Auftragnehmer entsprechend der im Angebot vereinbarten Zahlungsmodalitäten in Rechnung gestellt.
        </p>
        <p>(3) Der Versand der Rechnung des Auftraggebers erfolgt über E-Mail, WhatsApp, Messenger oder einer anderen von den Parteien zur Kommunikation gewählten Form. Der Rechnungsbetrag ist ohne Abzug mit Rechnungsstellung fällig, zu zahlen spätestens
            nach 14 Tagen Kalendertagen. Skontoabzüge sind nur zulässig, wenn diese schriftlich vereinbart wurden.
        </p>
        <p>(4) Bei den von dem Auftragnehmer unterbreiteten Preisen handelt es sich um Nettopreise zuzüglich der gesetzlichen Umsatzsteuer.
        </p>
        <p>(5) Gerät der Auftraggeber mit der Zahlung in Verzug, so ist der Auftragnehmer berechtigt, Verzugszinsen in Höhe von neun Prozentpunkten über dem jeweiligen Basiszinssatz anzusetzen. Die Geltendmachung weiterer Verzugsansprüche des Auftragnehmers,
            insbesondere der Nachweis eines höheren Zinsschadens und/oder weitergehender Schäden, ist nicht ausgeschlossen.</p>

        <h3>§ 5 Probenanlieferung/Produktanlieferung</h3>
        Die Probenanlieferung erfolgt auf Kosten und Gefahr des Auftraggebers. Die Lieferung erfolgt direkt an das Prüflabor, welches der Auftragnehmer für das entsprechende Produkt des Auftraggebers ausgewählt hat.

        <h3>§ 6 Haftung</h3>
        <p>(1) Ansprüche des Auftraggebers auf Schadensersatz sind ausgeschlossen. Hiervon ausgenommen sind Schadensersatzansprüche des Auftraggebers aus der Verletzung des Lebens, des Körpers, der Gesundheit oder aus der Verletzung wesentlicher Vertragspflichten
            (Kardinalpflichten) sowie die Haftung für sonstige Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Auftragnehmers, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Wesentliche Vertragspflichten
            sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist.
        </p>
        <p>(2) Bei der Verletzung wesentlicher Vertragspflichten haftet der Auftragnehmer nur auf den vertragstypischen, vorhersehbaren Schaden, wenn dieser einfach fahrlässig verursacht wurde, es sei denn, es handelt sich um Schadensersatzansprüche des
            Auftraggebers aus einer Verletzung des Lebens, des Körpers oder der Gesundheit.
        </p>
        <p>(3) Die Einschränkungen der Abs. 1 und 2 gelten auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Auftragnehmers, wenn Ansprüche direkt gegen diese geltend gemacht werden.
        </p>
        <p>(4) Die sich aus Abs. 1 und 2 ergebenden Haftungsbeschränkungen gelten nicht, soweit der Auftragnehmer den Mangel arglistig verschwiegen oder eine Garantie für die Beschaffenheit der Sache übernommen hat. Das gleiche gilt, soweit der Auftragnehmer
            und der Auftraggeber eine Vereinbarung über die Beschaffenheit der Sache getroffen haben. Die Vorschriften des Produkthaftungsgesetzes bleiben unberührt.
        </p>
        <h3>§ 7 Kündigung </h3>
        <p>(1) Der Vertrag kann vom Auftragnehmer und vom Auftraggeber nur aus wichtigem Grund in Textform gekündigt werden.
        </p>
        <p>(2) Bei Überschreitung von Zahlungsfristen ist der Auftragnehmer nach Mahnung berechtigt, von weiteren Verträgen mit dem Auftraggeber zurückzutreten.
        </p>

        <h3>§ 8 Rechtswahl und Gerichtsstand</h3>
        <p>(1) Für diese AGB und die Vertragsbeziehung zwischen dem Auftragnehmer und dem Auftraggeber gilt das Recht der Bundesrepublik Deutschland unter Ausschluss internationalen Einheitsrechts, insbesondere des UN-Kaufrechts.
        </p>
        <p>(2) Ist der Auftraggeber Kaufmann i.S.d. Handelsgesetzbuchs, juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen, ist ausschließlicher – auch internationaler Gerichtsstand für alle sich aus dem Vertragsverhältnis
            unmittelbar oder mittelbar ergebenden Streitigkeiten Geschäftssitz des Auftragnehmers in Westerede.
        </p>
        <p>(3) Entsprechendes gilt, wenn der Auftraggeber Unternehmer i.S.v § 14 BGB ist. Der Auftragnehmer ist jedoch in allen Fällen auch berechtigt, Klage am Erfüllungsort der Verpflichtung gemäß diesen AGB bzw. einer vorrangigen Individualabrede oder
            am allgemeinen Gerichtsstand des Auftraggebers zu erheben. Vorrangige gesetzliche Vorschriften, insbesondere zu ausschließlichen Zuständigkeiten, bleiben unberührt.
        </p>
        <h3>§ 9 Salvatorische Klausel</h3>
        <p>Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder nach Vertragsschluss unwirksam oder undurchführbar werden, bleibt davon die Wirksamkeit des Vertrages im Übrigen unberührt. An die Stelle der unwirksamen oder
            undurchführbaren Bestimmung soll diejenige wirksame und durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen Zielsetzung am nächsten kommen, die die Vertragsparteien mit der unwirksamen bzw. undurchführbaren Bestimmung verfolgt
            haben. Die vorstehenden Bestimmungen gelten entsprechend für den Fall, dass sich der Vertrag als lückenhaft erweist.</p>
        <p>Stand: 07. Juli 2023</p>

    </div>
</section>