/* You can add global styles to this file, and also import other style files */

:root {
    --green: #027b77;
    --darkgreen: #00514e;
    --mint: #A2F5E5;
    --lightgreen: #00d1c1;
    --white: #ffffff;
    --black: #000000;
}