$brp1: 1750px;
$brp2: 1400px;
$brp3: 1200px;
.home {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--ppage);
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-top: 0;
            font-family: var(--fbl);
        }
        h2 {
            margin: 0;
            font-weight: 400;
            span {
                white-space: nowrap;
            }
        }
    }
    .logo {
        object-fit: contain;
        max-height: 60vh;
    }
    .wave {
        position: absolute;
        bottom: 0px;
        right: 0;
        // left: 0;
        width: 100%;
        min-width: 1100px;
        height: 300px;
        z-index: -1;
    }
    .btnHome {
        font-size: var(--h3);
    }
}

@media (max-width: $brp1) {
    .logo {
        height: 50vh;
    }
    .wave {
        height: 270px !important;
    }
}

@media(max-width: $brp3) {
    .home {
        justify-content: center;
        .logo {
            display: none;
        }
        .wave {
            height: 200px !important;
        }
    }
}